/* ============ Common ======================== */
.flex {
  display: flex;
}
.flex-sb {
  display: flex;
  justify-content: space-between;
}
.flex-r {
  display: flex;
  flex-direction: row;
}
.flex-c {
  display: flex;
  flex-direction: column;
}
.flex-sa {
  display: flex;
  justify-content: space-around;
}
.pad1 {
  padding: 1rem;
}
.pad2 {
  padding: 2rem;
}
hr {
  background-color: gray;
}
button {
  cursor: pointer;
  border-radius: 5px;
  font-size: large;
  font-weight: 600;
}

/* =================== Home ========================= */
.HomeMainDiv {
  margin: 5% 25% 2% 20%;

  border: 1px solid black;
  background-color: white;
  width: 60%;
  min-height: 80vh;
}
/* ============== User ============================= */
.UserImageDiv img {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

/* =================== Search ============================= */
.searchBox {
  width: 88%;
  height: 2rem;
  margin: 2%;
  margin-left: 4%;
  margin-right: 5%;
  padding: 1rem;
  font-size: x-large;
  color: black;
}
.showOnHover {
  /* display: none; */
}
.showOnHover:hover {
  /* display: contents; */
  visibility: visible;
  background-color: blueviolet;
}

/* ================== Mid part ===================== */
.MidpartMainDiv div {
}
.UserMainDiv {
  font-size: xx-large;
  font-weight: 700;
}
.UserImageDiv img {
  margin-right: 1.5rem;
}

/* ====================== printCard ========================== */
.printCardItem {
  cursor: pointer;
  padding: 1rem 2rem 1rem 2rem;
}
.cName {
  font-size: x-large;
  font-weight: 700;
}
.cListing {
  background-color: rgb(250, 250, 250);
  width: fit-content;
  padding: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  font-size: large;
  color: gray;
  font-weight: 600;
  margin-top: 0.25rem;
  border-radius: 4px;
}
.price {
  text-align: right;
}
.price,
.difference {
  font-size: x-large;
  font-weight: 600;
}
.difference {
  font-weight: 400;
}
.percentage {
  font-size: x-large;
  font-weight: 600;
}
/* =============== Search ====================== */
.visible {
  display: visible;
}

.hidden {
  display: none;
}
.red {
  color: rgb(231, 89, 46);
}
.green {
  color: rgb(41, 197, 193);
}
.demoV button {
  visibility: visible;
  color: red;
}
.demoH button {
  visibility: hidden;
  color: green;
}
/* ======================= Footer =================== */

.footers {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 10px;
  background-color: red;
}
.FooterMainDivs {
  position: absolute;
  position: relative;
  position: fixed;
  top: 80vh;
  width: 60%;
  width: 59.9%;
  height: fit-content;
  background-color: white;
  border: 2px solid gray;
}
.FooterMainDiv hr {
  background-color: red;
  color: red;
}
.FooterLeft {
  text-align: center;
  width: 50px;
  height: fit-content;
  font-size: xx-large;
}

.FooterRight {
  font-size: xx-large;
  width: 10rem;
  height: fit-content;
  border: 3px solid rgb(161, 209, 251);
  padding: 0rem 1rem 0rem 1rem;
}
.FooterRight img {
  width: 25%;
  height: 25%;
  margin-top: 25%;
}
