/* ============ Common ======================== */
.flex-sb {
  display: flex;
  justify-content: space-between;
}
.flex {
  display: flex;
}
.pad2 {
  padding: 2rem;
}

/* ==================App ============================= */
.App {
  margin-left: 10%;
  margin-right: 10%;
  border: 1px solid black;
}
/* ============== User ============================= */
.UserImageDiv img {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}
/* ================== Mid part ===================== */
.MidpartMainDiv div {
}
.UserMainDiv {
  font-size: xx-large;
  font-weight: 700;
}
.UserImageDiv img {
  margin-right: 1.5rem;
}
